body {
  font: 16px Helvetica, Sans-Serif;
  background: url(White.jpg);
  margin-left: 50px;
}
.contact {
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
  font-size: 24px;
  font-weight: bold;
  border-bottom:1px solid #999;
}
.summary {
  font-style: italic;
}
.date {
  float: right;
}
#pic {
  float: right;
  float: top;
  height: 25%;
  width: 25%;
  max-width: 184px;
  max-height: 220px;
}
.content {
  float: left;
}
.radisson-blu {
  margin
