body {
  font: 16px Helvetica, Sans-Serif;
  background: url(White.jpg);
}
.contact {
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
  font-size: 42px;
  font-weight: bold;
  border-bottom:1px solid #999;
}
.summary {
  font-style: italic;
}
.date {
  float: right;
}
#pic {
  float: right;
  height: 25%;
  width: 25%;
}
.content {
  float: left;
}
.radisson-blu {
  margin
